<div class="container-fluid">

    <div>
        <h1>Celdas Disponibles</h1>
    </div>
 
    <div class="card mb-12">
        <div class="row no-gutters">
            <div class="col-md-4" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #D9D4D4;">
                <div class="card-body">
                    <p class="card-sdsd">
                        Parqueadero Bloque 18
                        <img id="señal" src="../../../../assets/Img/Ubicacion.png" width="50" height="50" class="d-inline-block align-top" alt="..">

                    </p>
                </div>
            </div>

            <div class="col-md-8" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #3BB610;">
                <div class="card-body">
                    <h2 class="card-text">
                        <img id="carro" src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" class="d-inline-block align-top" alt="..">
                        24
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-12">
        <div class="row no-gutters">
            <div class="col-md-4" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #D9D4D4;">
                <div class="card-body">
                    <p class="card-sdsd">
                        Parqueadero Muua
                        <img id="señal" src="../../../../assets/Img/Ubicacion.png" width="50" height="50" class="d-inline-block align-top" alt="..">
                    </p>
                </div>
            </div>

            <div class="col-md-8" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #3BB610;">
                <div class="card-body">
                    <h2 class="card-text">
                        <img id="carro" src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" class="d-inline-block align-top" alt="..">
                        38
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-12">
        <div class="row no-gutters">
            <div class="col-md-4" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #D9D4D4;">
                <div class="card-body">
                    <p class="card-sdsd">
                        Circunvalar
                        <img id="señal" src="../../../../assets/Img/Ubicacion.png" width="50" height="50" class="d-inline-block align-top" alt="..">
                    </p>
                </div>
            </div>

            <div class="col-md-8" style="border-right: 1px solid rgba(0,0,0,.125); background-color: #3BB610;" >
               
                <div class="card-body">
                    <h2 class="card-text">
                        <img id="carro" src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" class="d-inline-block align-top" alt="..">
                        103
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }

    .card {
        margin: 20px ;
    }

    p{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        display:inline-block;
        margin: 10px 8px 10px 8px; 
        color: #000;
    }
    .señal{
        float: right;
    }
    h2 {
        text-align: center;
        color: #fff;
        font-size: 40px;
    }

</style>