<div>
    <h1>Celdas Disponibles</h1>
</div>

<div>
    <canvas #canvas class='img-responsive' text-a width="800" height="600"></canvas>
    <div>
        <h2 class="card-text">
            <!-- <img style= "position:absolute; left: 23.8%; top: 57%" id="ferrocarril"
            src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" (click)="ToFerrocarril()"> -->
            {{circunferrocarril._id}} {{circunferrocarril.count}}
        </h2>
    </div>
    <div>
        <h2 class="card-text">
            <!-- <img style= "position:absolute; left: 71.5%; top: 36%" id="barranquilla"
            src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" (click)="ToBarranquilla()"> -->
            {{circunbarranquilla._id}} {{circunbarranquilla.count}}
        </h2>
    </div>
    <div>
        <h2 class="card-text">
            <!-- <img style= "position:absolute; left: 67%; top: 103%" id="regional"
            src="../../../../assets/Img/SmartParkingCarroBlanco.png" width="70" height="70" (click)="ToRegional()"> -->
            {{circunregional._id}} {{circunregional.count}}
        </h2>
    </div>
    <div>
        <h2 class="card-text">
            <!-- <img style= "position:absolute; left: 52.5%; top: 92.6%" id="MuuA"
            src="../../../../assets/Img/Ubicacion.png" width="70" height="70" (click) ="ToMuuA()"> -->
            {{parqueaderomuua._id}} {{parqueaderomuua.count}}
        </h2>
    </div>
    <div>
        <h2 class="card-text">
            <!-- <img style= "position:absolute; left: 56%; top: 48.3%" id="Bloque18"
            src="../../../../assets/Img/Ubicacion.png" width="70" height="70" (click)="ToMap()"> -->
            {{parqueadero18._id }}: {{parqueadero18.count }}
        </h2>
    </div>
</div>

<!-- <div style="width: 150px; margin: 0 auto">
    <button type="button" class="btn btn-outline-success" (click)="ToMap()"> Aceptar </button>
</div> -->



<style>
    canvas{
        margin: 0 auto;
        display: block;
        align-content: center;
    }
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    h2 {
        text-align: center;
        color: rgb(63, 57, 57);
        font-size: 40px;
    }
</style>
