<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> Administración </div>
        <div class="list-group list-group-flush">
            <a (click) = "ToAdministracion()" class="list-group-item list-group-item-action bg-light">Matricular Dispositivo</a>
            <a (click) = "ToSidebar()" class="list-group-item list-group-item-action bg-light">Control Dispositivos</a>
            <a (click) = "ToStatistics()" class="list-group-item list-group-item-action bg-light">Estadisticas</a>
          
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <form #deviceForm="ngForm" (ngSubmit)="save(deviceForm)">

                <div class="form-group">
                    <label for="canvas_locationX" class="control-label">Posición en X</label>
                    <input type="number" class="form-control" id="canvas_locationX" name="posicion_X" placeholder="X" ngModel>
                </div>

                <div class="form-group">
                    <label for="canvas_locationY" class="control-label">Posición en Y</label>
                    <input type="number" class="form-control" id="canvas_locationY" name="posicion_Y" placeholder="Y" ngModel>
                </div>

                <div class="form-group">
                    <label for="real_localSector" class="control-label">Sector</label>
                    <select class="form-control" id="real_localSector" name="sector" ngModel>
                        <option value="parqueadero18">Parqueadero bloque 18</option>
                        <option value="parqueaderomuua">Parqueadero MuuA</option>
                        <option value="circunferrocarril">Circunvalar Ferrocarril</option>
                        <option value="circunregional">Circunvalar Regional</option>
                        <option value="circunbarranquilla">Circunvalar Barranquilla</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="real_localIdentifier" class="control-label">Identificador de Localidad</label>
                    <input type="number" class="form-control" id="real_localIdentifier" name="identificador" placeholder="#####"
                        ngModel>
                </div>

                <div class="form-group">
                    <label for="dev_eui" class="control-label">Dev_Eui</label>
                    <input type="text" class="form-control" id="dev_eui" name="eui" placeholder="45689" minlength="16"
                        maxlength="16" ngModel>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </div>

            </form>
            <style>
                input[type=button], input[type=submit], input[type=reset]  {
                    background-color: #3BB610;
                    border: none;
                    color: white;
                    padding: 15px 80px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 13px;
                    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
                    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
                    -webkit-border-radius: 5px 5px 5px 5px;
                    border-radius: 5px 5px 5px 5px;
                    margin: 5px 20px 40px 20px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
                    background-color: #005928;
                }
                input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
                    -moz-transform: scale(0.95);
                    -webkit-transform: scale(0.95);
                    -o-transform: scale(0.95);
                    -ms-transform: scale(0.95);
                    transform: scale(0.95);
                }
            </style>
        </div>
    </div> 
</div>
