<!-- Logo y Nombre -->
<nav class="navbar navbar-light " style="background-color: #005928; " *ngIf="router.url != '/'">
  <a class="navbar-brand" [routerLink]="['/home']">

       <h3 style="color:#f6f6f6"><img src="/assets/Img/SmartParkingP.png" width="40" height="40" class="d-inline-block align-top" alt=""> SmartParking</h3>

  </a>
  <div class="pointer" [routerLink]="['/Administrador']"><img src="/assets/Img/SmartParkingUsuario.png" width="30"
       height="30" class="d-inline-block align-top" alt=""
       *ngIf = "(router.url != '/Administrador')"></div>
</nav>

<router-outlet></router-outlet>
