<!-- Logo y Nombre -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #005928; " *ngIf="router.url != '/'">

    <a class="navbar-brand" [routerLink]="['/home']">
      <h1 style="color:#f6f6f6">
        <img src="/assets/Img/SmartParkingP.png" width="40" height="40" class="d-inline-block align-top" alt=""> SmartParking
      </h1>
    </a>


    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">

            <li class="nav-item">
              <h3 style="color:#f6f6f6">
                <a class="nav-link" routerLink="/Administracion" routerLinkActive="active">
                  <h3 style="color:#f6f6f6">
                    Login
                   </h3>
                </a>

              </h3>
            </li>
            <li class="nav-item">
              
                <a class="nav-link" routerLink="/Administracion" routerLinkActive="active">
                  <h3 style="color:#f6f6f6">
                   SignUp
                  </h3>

                </a>

            </li>
          </ng-container>
            <ng-template #loggedIn>
              <li class="nav-item">
                <h3>
                  <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">
                    
                    <h3 style="color:#f6f6f6">
                      Logout
                     </h3>
                  
                  </a>
                </h3>
                
              </li>
          </ng-template>




      </ul>
    </div>


      <!-- <div class="pointer" [routerLink]="['/Administracion']">
        <img src="/assets/Img/SmartParkingUsuario.png" width="30"  height="30" class="d-inline-block align-top" alt="" *ngIf = "(router.url != '/Administracion')">
      </div> -->

</nav>



<router-outlet></router-outlet>
