<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> Administración </div>
      <div class="list-group list-group-flush">
        <a (click) = "ToAdministracion()" class="list-group-item list-group-item-action bg-light">Matricular Dispositivo</a>
        <a (click) = "ToSidebar()" class="list-group-item list-group-item-action bg-light">Control Dispositivos</a>
        <a (click) = "ToStatistics()" class="list-group-item list-group-item-action bg-light">Estadisticas</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h2>Control de Dispositivos XD</h2>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
